# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.js
.env
.env.*

# Database
database.sqlite
*.sqlite
*.sqlite3

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build
dist/
build/
out/
.coverage
/.nyc_output

# Misc
coverage/
*.tmp
*.temp

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Railway
